.imessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10vw;
  margin-bottom: 5em;
}

.textbubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 10px;
  width: 60%;
}

.font1 {
  color: black;
  font-size: 1rem;
}

.textbubble--1 {
  background: #e9e9eb;
  border-radius: 20px;
  transform: translateX(-20px);
  position: relative;
}

.textbubble--1::before {
  content: url("../../../assets/images/chat1.svg");
  position: absolute;
  bottom: 0px;
  left: -10px;
  height: 19px;
  width: 23px;
}

.textbubble--2 {
  background: #2e9dfb;
  border-radius: 20px;
  transform: translateX(20px);
}

.textbubble--2::before {
  content: url("../../../assets/images/chat2.svg");
  position: absolute;
  bottom: 3px;
  right: -11px;
  height: 19px;
  width: 23px;
}

.font2 {
  color: white;
  font-size: 1rem;
}

@media (max-width: 300px) {
  .font1,
  .font2 {
    font-size: 0.5rem;
  }
}
