.myNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vh 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.behind {
  font-size: 2vw;
  color: white;
}

.change {
  font-size: 2vw;
  color: white;
}

.hamburger-icon {
  width: 2vw;
}
