.action-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40vh 0em;
}

.action-text {
  color: white;
  font-size: 4rem;
  text-align: center;
}
.mylink-text {
  color: white;
  font-size: 1.4rem;
  text-align: center;
}

.action-text .mylink {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
}
