.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 25vw;
}

.hero-text p {
  color: white;
  padding: 30px;
}

.hero-text p:nth-of-type(1) {
  font-size: 1.7rem;
}

.hero-text p:nth-of-type(2) {
  font-size: 1rem;
}
.hero-text p:nth-of-type(3) {
  font-size: 1rem;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.arrow__body {
  height: 3.5rem;
  width: 0.4rem;
  background-color: white;
  border-radius: 1rem;
}
.arrow__head-left {
  background-color: white;

  height: 1.5rem;
  width: 0.4rem;
  border-radius: 10px;
  transform: rotate(-45deg) translate(0.48rem, -1.1rem);
}

.arrow__head-right {
  background-color: white;

  height: 1.5rem;
  width: 0.4rem;
  border-radius: 10px;
  transform: rotate(45deg) translate(-1.55rem, -2.1rem);
}

@media (max-width: 1300px), (max-height: 600px) {
  .hero-text p:nth-of-type(1) {
    font-size: 1.5rem;
  }

  .hero-text p:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .hero-text p:nth-of-type(3) {
    font-size: 0.9rem;
  }

  .arrow__body {
    height: 2.5rem;
    width: 0.4rem;
  }
}

@media (max-height: 600px) {
  .hero-text p:nth-of-type(1) {
    font-size: 1.1rem;
  }

  .hero-text p:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .hero-text p:nth-of-type(3) {
    font-size: 0.9rem;
  }

  .arrow__body {
    height: 2.5rem;
    width: 0.4rem;
  }
}
