.questions-grid {
  display: grid;
  gap: 30px;
  margin: auto;
  padding: 2em;
  grid-template-areas:
  'solutions solutions solutions'
  'reach abundance abundance'
  'reach abundance abundance'
  'webusage webusage webusage'
  'accessibility accessibility experience'
  'accessibility accessibility cost'
  'convinced convinced convinced'
  'common common common'
  'innergrid innergrid innergrid';
}



.questions-grid > * > p {
  color: #5f5f5f;
}
.questions-grid > * > p > strong {
  color: black;
}





/* ------------------ solutions------------------------ */

.questions-grid .one {
  grid-area: solutions;
}

/* ------------------Reach------------------------ */

.questions-grid .two {
  grid-area: reach;
}


/* -----------------------abundance------------------- */

.questions-grid .three {

  grid-area: abundance;

}


/* ----------------------- web usage------------------- */

.questions-grid .four {
  grid-area: webusage;

}


/* ---------------------- accessibility---------------- */

.questions-grid .five {
  grid-area: accessibility;

}


/* ----------------experience------------------- */

.questions-grid .six {
  grid-area: experience;
}


/* ----------------cost------------------- */

.questions-grid .seven {
  grid-area: cost;

}


/* ------------------ convinced------------------- */
.questions-grid .eight {
  grid-area: convinced;

}


/* -----------------------Common Questions. ------------------- */

.questions-grid .nine {
  grid-area: common;
}


.questions-grid .ten {
  grid-area: innergrid;
 
}
