.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form label,
.contact-form input {
  display: block;
}

.contact-form input {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(82, 82, 82);
  background: transparent;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-form button {
  color: #5BCEFF;
  border-radius:20px ;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;

}

