.hero-window {
  position: relative;
}

.whiteframe {
  position: absolute;
  z-index: 1;
}

.outline1 {
  position: absolute;
  left: 0.5vw;
  top: 1vw;
}
.outline2 {
  position: absolute;
  left: 1vw;
  top: 1.5vw;
}

.bubbles {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 80%;
}

.dash-line {
  position: absolute;
  bottom: 15vh;
  left: -30vw;
}

.girl-on-rocket {
  transform: scale(1.15);
  animation: bubblefloat 10s ease-in-out infinite;
}

@keyframes bubblefloat {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}
