.hero-window {
  position: relative;
}

.whiteframe {
  position: absolute;
  z-index: 1;
}

.outline1 {
  position: absolute;
  left: 0.5vw;
  top: 1vw;
}
.outline2 {
  position: absolute;
  left: 1vw;
  top: 1.5vw;
}

.bubbles {
  position: absolute;
  top: 6vw;
  left: 50px;
  width: 80%;
}

.girl-on-rocket {
  position: relative;
  height: 100%;
  animation: girlfloat 5s ease-in-out infinite;
}

@media (max-height: 600px) {
  .girl-on-rocket {
    height: 350px;
  }
}

@keyframes girlfloat {
  0% {
    transform: translatey(-30px);
  }

  50% {
    transform: translatey(-40px);
  }

  100% {
    transform: translatey(-30px);
  }
}
