.hero-window {
  position: relative;
  background-color: rebeccapurple;
}

.whiteframe {
  position: absolute;
  z-index: 1;
}

.outline1 {
  position: absolute;
  left: 0.5vw;
  top: 1vw;
}
.outline2 {
  position: absolute;
  left: 1vw;
  top: 1.5vw;
}

.bubbles {
  position: absolute;
  top: 2vw;
  left: 0vw;
}

.girl-on-rocket {
  transform: scale(1.15);
}
