:root {
  --bluegradient: linear-gradient(164.94deg, #2926ae -2.35%, #63cfe7 96.57%);
  --whiteish: #f6f6f6;

  overflow-x: hidden;
}

body {
  background: var(--whiteish);
}

.hero-section {
  height: 100px;
  background: var(--bluegradient);
}
.brand-section {
  height: 100px;
}

.process-section {
  height: 100px;
  background: var(--bluegradient);
}
.question-section {
  height: 100px;
}

.action-section {
  height: 100px;
  background: var(--bluegradient);
}

/* components */
.brand-title {
  background: #2926ae;
}

/* utilities */
.flex-wrapper-row {
  display: flex;
}

.flex-wrapper-column {
  display: flex;
  flex-direction: column;
}
