:root {
  --bluegradient: linear-gradient(
    112.87deg,
    #013481 0%,
    #4b93c0 43.23%,
    #96f2ff 100%
  );
  --whiteish: #f6f6f6;

  overflow-x: hidden;
}

body {
  background: var(--whiteish);
}

.hero-section {
  max-height: 100vh;
  padding: 0 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
}
.brand-section {
  background: var(--whiteish);
  padding: 0 15vw;
}
.process-section {
  padding: 2vw 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
  position: relative;
}
.question-section {
  padding: 0 15vw;
  background: var(--whiteish);
  border-radius: 0 0 100px 100px;
}

.action-section {
  padding: 0 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
}

/* BRAND SECTION CSS */

/* utilities */
.flex-wrapper-row {
  display: flex;
}

.flex-wrapper-column {
  display: flex;
  flex-direction: column;
}
