:root {
  --bluegradient: linear-gradient(
    112.87deg,
    #013481 0%,
    #4b93c0 43.23%,
    #96f2ff 100%
  );
  --whiteish: #f6f6f6;
}

.hero-section {
  max-height: 100vh;
  padding: 0 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
}
.brand-section {
  background: var(--whiteish);
  padding: 0 15vw;
}
.process-section {
  height: 100vh; /*CHANGE ME LATER*/
  padding: 0 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
}
.question-section {
  height: 100vh; /*CHANGE ME LATER*/
  padding: 0 15vw;
  background: var(--whiteish);
  border-radius: 0 0 100px 100px;
}

.action-section {
  height: 100vh; /*CHANGE ME LATER*/
  padding: 0 15vw;
  background: var(--bluegradient);
  border-radius: 0 0 100px 100px;
}

/* BRAND SECTION CSS */
.brand-grid-wrapper {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
}

.brand-grid-wrapper .ManAtDesk {
  grid-column: 1/3;
  grid-row: 3/5;
}

.brand-grid-wrapper .BrandTitle {
  grid-column: 1/2;
  grid-row: 1/2;
}
.brand-grid-wrapper .IPhone {
  grid-column: 3/4;
  grid-row: 3/5;
}

/* utilities */
.flex-wrapper-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
