.action-section {
  padding: 0 15vw;
  background: var(--bluegradient-desktop);
  border-radius: 0px 0px 100px 100px;
  position: relative;
}

.action-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  background: var(--whiteish);
  border-radius: 0px 0px 100px 100px;
}

@media (min-width: 1500px) {
  .action-section {
    padding: 0 30vw;
  }
}
