.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-bar {
  height: 50vh;
  width: 2px;
  background: white;
}

.hero-text p {
  color: white;
  padding: 10px;
  font-size: 2rem;
}
