.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-bar {
  height: 140px;
  width: 2px;
  background: white;
}

.hero-text p {
  color: white;
  padding: 10px;
  font-size: 2rem;
}

@media (max-width: 300px) {
  .hero-text p {
    font-size: 0.8rem;
  }
  .hero-text-bar {
    height: 70px;
  }
}
