.hero-section {
  background-color: var(--whiteish);
  background-image: url("../../../../assets/images/backgroundSVGs/Hero.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.bubbles {
  width: 95vw;
  height: 80%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;

  position: absolute;
  top: 10vh;
}
.bubble3 {
  left: -5vw;
  bottom: 0;
  position: absolute;
}

.bubble {
  margin: 1rem;
}

.bubble1 {
  animation: bubblefloat 4.3s ease-in-out infinite;
}
.bubble2 {
  animation: bubblefloat 5.1s ease-in-out infinite;
}
.bubble3 {
  animation: bubblefloat 5s ease-in-out infinite;
}
.bubble4 {
  animation: bubblefloat 4.4s ease-in-out infinite;
}

@keyframes bubblefloat {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(10px);
  }

  100% {
    transform: translatey(0px);
  }
}
