.hero-section {
  /* min-height: 70vh; */
  background-color: var(--whiteish);
  background-image: url("../../../../assets/images/backgroundSVGs/Hero.svg");
  background-size: cover contain;
  background-repeat: no-repeat;
}
