.hero-section {
  min-height: 100vh;
  background-color: var(--whiteish);
  background-image: url("../../../../assets/images/backgroundSVGs/Hero.svg");
  background-size: cover contain;
  background-repeat: no-repeat;
}
