.process-section {
  padding: 3vw 15vw;

  background: var(--bluegradient-desktop);
  border-radius: 0 0 100px 100px;
  position: relative;
}

@media (min-width: 1500px) {
  .process-section {
    padding: 3vw 30vw;
  }
}
