.process-section {
  padding: 12vw 15vw;
  position: relative;

  background: linear-gradient(124.09deg, #072282 0%, #63cfe7 100%);

  border-radius: 0 0 100px 100px;
}

.process-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vw;
  background: var(--whiteish);
  border-radius: 0px 0px 100px 100px;
}

@media (min-width: 2000px) {
  .process-section {
    padding: 12vw 30vw;
  }
}
